include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include bottle_filler *.css
recursive-include bottle_filler *.csv
recursive-include bottle_filler *.html
recursive-include bottle_filler *.ico
recursive-include bottle_filler *.js
recursive-include bottle_filler *.json
recursive-include bottle_filler *.md
recursive-include bottle_filler *.png
recursive-include bottle_filler *.py
recursive-include bottle_filler *.svg
recursive-include bottle_filler *.txt
recursive-exclude bottle_filler *.pyc